.arrow-icon {
  -fx-fill: @text-main;
  -fx-scale-shape: true;
}
.line-icon {
  -fx-stroke: @text-main;
  -fx-stroke-width: 2;
  -fx-opacity: 0.8;
}
.polygon-icon {
  -fx-stroke: @text-main;
  -fx-stroke-width: 2;
  -fx-fill: transparent;
}
.square-icon {
  -fx-stroke: @text-main;
  -fx-stroke-width: 2;
  -fx-fill: transparent;
}