#rootPane {
  -fx-background-color: @bg-root;
}

// Canvas je průhledný, pozadí kreslicí plochy proto určuje prostor
.raster-2d {
  -fx-background-color: @canvas-2d;
}

.raster-3d {
  -fx-background-color: @canvas-3d;
}
