.sidebar {
  -fx-min-width: 150;
  -fx-pref-width: 150;
  -fx-padding: 16 12;
  -fx-spacing: 16;
  -fx-background-color: @bg-sidebar;
}

.logo {
  -fx-text-fill: @primary;
  -fx-font-size: 18px;
  -fx-font-weight: bold;
}

.separator {
  -fx-opacity: 1;
  -fx-background-color: @primary;
  -fx-padding: 0;
  &.horizontal {
    -fx-pref-height: 1px;
    -fx-max-height: 1px;
  }
  &.vertical {
    -fx-pref-width: 1px;
    -fx-max-width: 1px;
  }
}

.sidebar-toggle {
  -fx-background-color: transparent;
  -fx-text-fill: @text-main;
  -fx-font-size: 13px;
  -fx-font-weight: bold;
  -fx-alignment: CENTER_LEFT;
  -fx-padding: 4 0 4 4;
  -fx-background-radius: 8;
  -fx-border-color: transparent;
  -fx-graphic-text-gap: 8;

  &:hover {
    -fx-cursor: hand;
  }

  .arrow-icon {
    -fx-fill: @text-main;
    -fx-scale-shape: true;
  }

  .line-icon {
    -fx-stroke: @text-main;
    -fx-stroke-width: 2;
    -fx-opacity: 0.8;
  }

  &:hover .arrow-icon,
  &:selected .arrow-icon {
    -fx-fill: @primary;
  }
  &:hover .line-icon,
  &:selected .line-icon {
    -fx-stroke: @primary;
  }
  &:hover .label,
  &:selected .label {
    -fx-text-fill: @primary;
  }
}

.sidebar-section {
  -fx-padding: 4 0 0 0;
}