#toolBar {
  -fx-background-color: @bg-toolbar;
  -fx-padding: 6px 8px;
  -fx-spacing: 0;
  -fx-border-color: #d0d7e2;
  -fx-border-width: 0 0 1 0;
}

.toolbar-section {
  -fx-padding: 0 15;
  -fx-border-width: 0 0 0 2px;
  -fx-border-color: transparent transparent transparent @primary-dark;
  &.end {
    -fx-border-width: 0 2px 0 2px;
    -fx-border-color: transparent @primary-dark transparent @primary-dark;
  }
}